$primaryColor : #1b1d3c;
$secondaryColor: #e1a34c;
//gray
$uqu-pallet-gray-5: #333333 !default;
$uqu-pallet-gray-4: #666666 !default;
$uqu-pallet-gray-3: #999999 !default;
$uqu-pallet-gray-2: #bbbbbb !default;
$uqu-pallet-gray-1: #dddddd !default;
$uqu-pallet-gray-0: #eeeeee !default;